*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color:#FBEABB;
    width: 100%;
    padding: 0px 10%;
}
.logo{
    width: 150px;
    height: 100px;
}
.header a{
    text-decoration: none;
    color: black;
}

 li{
    display: inline;
    text-align: center;
}
  